{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% if article.tags %}
    <meta name="keywords" content="{{ article.tags|join(",") }}" />
    {% endif %}
    {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
    {% endif %}
{% endblock %}

{% block title %}{{ SITENAME }} | {{ article.title }}{% endblock %}

{% block content %}
{% set is_summary = False %}
{% include "article_stub.html" %}

<ul style="float:right;">
    {% if article.prev_article %}
    <li>
        上一篇：<a href="{{ SITEURL }}/{{ article.prev_article.url}}">
            {{ article.prev_article.title }}
        </a>
    </li>
    {% endif %}
    {% if article.next_article %}
    <li>
        下一篇：<a href="{{ SITEURL }}/{{ article.next_article.url}}">
            {{ article.next_article.title }}
        </a>
    </li>
    {% endif %}
</ul>

{% if DUOSHUO_SITENAME %}
<section>
<h1>Comments</h1>
<div id="DuoShuoComment" aria-live="polite">
    {% include 'duoshuo_script.html' %}
</div>
</section>
{% endif %}
{% endblock %}
